@media all {
    .list-tree td, .new-tree td {
        color: #222222;
        font-size: small;
    }

    .list-tree a, .new-tree a {
        font-size: small;
    }

    .list-tree .backgrid .select-cell, .new-tree .backgrid .select-cell {
        text-align: left;
    }

    .list-tree .backgrid .food {
        width: 15%;
    }
    .list-tree .backgrid .description {
        width: 20%;
    }
    .list-tree .backgrid .address {
        width: 35%;
    }
    .list-tree .backgrid .lat {
        width: 72px;
    }
    .list-tree .backgrid .lng {
        width: 72px;
    }

    .new-tree .backgrid .food {
        width: 15%;
    }
    .new-tree .backgrid .description {
        width: 35%;
    }
    .new-tree .backgrid .address {
        width: 35%;
    }
    .new-tree .backgrid .lat {
        width: 72px;
    }
    .new-tree .backgrid .lng {
        width: 72px;
    }

    td.editable {
        cursor: pointer;
    }
}