@media all {
    td.editable {
        cursor: pointer;
    }

    

    .list-tree td, .new-tree td, .list-people td, .list-people th, .new-person td, .list-adoption td, .list-location td, .list-location th, .new-location td, .new-location th, .list-donation td, .list-donation th, .new-donation td {
        color: rgba(0, 0, 0, 0.75);
        font-size: small;
    }

    .list-tree a, .new-tree a, .list-tree a, .new-person a, .list-adoption a {
        font-size: small;
    }

    .list-tree .backgrid .select-cell, .new-tree .backgrid .select-cell, .list-people .backgrid .select-cell, .new-person .backgrid .select-cell, .list-adoption .backgrid .select-cell {
        text-align: left;
    }

    .list-tree .backgrid .food {
        width: 15%;
    }
    .list-tree .backgrid .description {
        width: 20%;
    }
    .list-tree .backgrid .address {
        width: 25%;
        text-align: center;
    }
    .list-tree .backgrid .parents {
        width: 15%;
    }
    .list-tree .backgrid .lat {
        width: 72px;
    }
    .list-tree .backgrid .lng {
        width: 72px;
    }

    .new-tree .backgrid .food {
        width: 15%;
    }
    .new-tree .backgrid .description {
        width: 35%;
    }
    .new-tree .backgrid .address {
        width: 35%;
        text-align: center;
    }
    .new-tree .backgrid .lat {
        width: 72px;
    }
    .new-tree .backgrid .lng {
        width: 72px;
    }

    .list-people .backgrid .auth {
        width: 15%;
    }
    .list-people .backgrid .name {
        width: 15%;
    }
    .list-people .backgrid .address {
        width: 20%;
        text-align: center;
    }
    .list-people .backgrid .contact {
        width: 20%;
    }
    .list-people .backgrid .neighborhood {
        width: 15%;
    }
    .list-people .backgrid .trees {
        width: 20%;
    }

    .new-person .backgrid .auth {
        width: 15%;
    }
    .new-person .backgrid .name {
        width: 15%;
    }
    .new-person .backgrid .address {
        width: 25%;
        text-align: center;
    }
    .new-person .backgrid .contact {
        width: 25%;
    }
    .new-person .backgrid .neighborhood {
        width: 20%;
    }

    .list-adoption td {
        padding-left: 8px;
        padding-right: 8px;
        border-bottom: 1px solid rgba(94, 78, 81, 0.15);
    }
    .list-adoption .backgrid .auth {
        width: 15%;
    }
    .list-adoption .backgrid .name {
        width: 15%;
    }
    .list-adoption .backgrid .contact {
        width: 30%;
    }
    .list-adoption .backgrid .neighborhood {
        width: 20%;
    }
    .list-adoption .backgrid .trees {
        width: 20%;
    }

    

    

    .list-location .backgrid .name {
        width: 15%;
    }
    .list-location .backgrid .description {
        width: 25%;
    }
    .list-location .backgrid .address {
        width: 25%;
        text-align: center;
    }
    .list-location .backgrid .lat {
        width: 72px;
    }
    .list-location .backgrid .lng {
        width: 72px;
    }

    .new-location .backgrid .name {
        width: 20%;
    }
    .new-location .backgrid .description {
        width: 25%;
    }
    .new-location .backgrid .address {
        width: 25%;
        text-align: center;
    }
    .new-location .backgrid .lat {
        width: 72px;
    }
    .new-location .backgrid .lng {
        width: 72px;
    }

    .new-donation .backgrid .place {
        width: 20%;
    }
    .new-donation .backgrid .tree {
        width: 20%;
    }
    .new-donation .backgrid .quantity {
        width: 30%;
    }
    .new-donation .backgrid .date {
        width: 30%;
    }

    .list-donation .backgrid .food {
        width: 20%;
    }
    .list-donation .backgrid .description {
        width: 35%;
    }
    .list-donation .backgrid .address {
        width: 30%;
        text-align: center;
    }
    .list-donation .backgrid .parents {
        width: 15%;
    }

}


@media only screen and (orientation: portrait) {
    
}
@media only screen and (max-height: 480px) and (orientation: portrait) {
    
}
@media only screen and (min-height: 481px) and (max-height: 568px) and (orientation: portrait) {
    
}
@media only screen and (min-height: 569px) and (max-height: 627px) and (orientation: portrait) {
    
}
@media only screen and (min-height: 628px) and (max-height: 736px) and (orientation: portrait) {
    
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    
}

@media only screen and (orientation: landscape) {
    
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
    
}
@media only screen and (min-width: 481px) and (max-width: 568px) and (orientation: landscape) {
    
}
    
@media only screen and (min-width: 569px) and (max-width: 667px) and (orientation: landscape) {
    
}

@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {
    
}

@media only screen and (min-width: 737px) and (max-width: 1280px) and (orientation: landscape) {
    .list-tree td, .new-tree td, .list-people td, .list-people th, .new-person td, .list-adoption td, .list-location td, .list-location th, .new-location td, .new-location th, .list-donation td, .list-donation th, .new-donation td {
        font-size: medium;
    }
    .list-tree a, .new-tree a, .list-tree a, .new-person a, .list-adoption a {
        font-size: medium;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1920px) and (orientation: landscape) {
    .list-tree td, .new-tree td, .list-people td, .list-people th, .new-person td, .list-adoption td, .list-location td, .list-location th, .new-location td, .new-location th, .list-donation td, .list-donation th, .new-donation td {
        font-size: large;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .list-tree a, .new-tree a, .list-tree a, .new-person a, .list-adoption a {
        font-size: large;
    }
}