@media all {
    #wrapper-main-body {
        width: 100%;
        height: 100%;
        padding-top: 60px;
        overflow: hidden;
        background-color: #eeeeee;
    }

    #wrapper-main-body .panel-body {
        height: 100%;
        padding: 0;
        margin: 0;
    }
}

