@media all {
    /* Button Style 1 */

    .button-outer-frame {
        flex-grow: 1;
        padding: 4px;
    }

    .button-inner-frame {
        color: rgba(255, 255, 255, 0.75);
        border: 2px solid rgba(255, 255, 255, 0.75);
        padding: 8px 16px;
        font-weight: 700;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: fill;
    }

    .button1 .button-inner-frame:hover {
        color: #84a757;
        border: 2px solid #84a757;
    }

    .button1  .button-inner-frame:active {
        text-shadow: 2px 2px 1px #403537;
        box-shadow: inset 0 0 2px 2px #403537;
        font-weight: 700;
    }

    .button1 {
        background-color: #5e4e51;
    }

    .button2 {
        background-color: #84a757;
    }

    .button2 .button-inner-frame2 {
        color: #5e4e51;
        border: 2px solid #5e4e51;
    }

    .button2 .button-inner-frame2:hover {
        color: rgba(255, 255, 255, 0.95);
        border: 2px solid rgba(255, 255, 255, 0.85);
    }

    .button2 .button-inner-frame2:active {
        text-shadow: 1px 1px 1px #403537;
        box-shadow: inset 0 0 1px 1px #403537;
    }

    /* Button Style 2 */

    .button-outer-frame2 {
        flex-grow: 1;
        padding: 3px;
    }

    .button-inner-frame2 {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 0.75);
        padding: 3px 6px;
        font-weight: 700;
        font-size: small;
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: fill;
    }

    .button3 .button-inner-frame2:hover {
        color: #84a757;
        border: 2px solid #84a757;
    }

    .button3 .button-inner-frame2:active {
        text-shadow: 2px 2px 1px #403537;
        box-shadow: inset 0 0 2px 2px #403537;
    }

    .button3 {
        background-color: rgba(94, 78, 81, 0.85);
    }

    .btn input, .btn i {
        pointer-events: none;
    }

    .button-description {
        color: #eeeeee;
        font-size: small;
        padding: 2px;
        pointer-events: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .button-description2 {
        color: #403537;
        font-size: small;
        padding: 2px;
        pointer-events: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .button4 {
        background-color: #84a757;
    }

    .button4 .button-inner-frame2 {
        font-size: medium;
        color: #5e4e51;
        border: 2px solid #5e4e51;
    }

    .button4 .button-inner-frame2:hover {
        color: rgba(255, 255, 255, 0.95);
        border: 2px solid rgba(255, 255, 255, 0.85);
    }

    .button4 .button-inner-frame2:active {
        text-shadow: 1px 1px 1px #403537;
        box-shadow: inset 0 0 1px 1px #403537;
    }

    .tree-info-name .btn {
        font-size: x-large;
        font-weight: 700;
    }

    #wrapper-treeinfo .info-button {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-weight: 700;
        font-size: small;
        text-align: left;
        padding: 4px 4px 4px 4px;
    }

    .button5 {
        
    }

    .button5 .button-inner-frame2 {
        font-size: small;
        color: rgba(255, 255, 255, 0.95);
        border: 2px solid rgba(255, 255, 255, 0.85);
        text-align: center;
        padding: 6px 0 6px 0;
    }

    .button5 .button-inner-frame2:hover {
        color: #5e4e51;
        border: 2px solid #5e4e51;
    }

    .button5 .button-inner-frame2:active {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
    }
}