@media all {
    #wrapper-confirm #frame-confirm {
        float: right;
        max-width: 480px;
        min-width: 280px;
    }
    #wrapper-confirm #content-header {
        display: -webkit-flex;
        display: flex;
        margin: 0 0 8px 0;
        color: #5e4e51;
        font-size: xx-large;
    }
    #wrapper-confirm hr {
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin: 2px 0;
    }
    #content-header .text-header {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-weight: 700;
    }
    #content-header .btn-close {
        cursor: pointer;
    }

    #wrapper-confirm .info-group, #wrapper-confirm label {
        width: 100%;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        color: #5e4e51;
        margin: 4px 0;
        text-align: left;
        font-size: medium;
        font-weight: 700;
    }

    #wrapper-confirm .info-button-group {
        margin: 4px 0;
    }

    #wrapper-confirm .text-label {
        padding: 2px 8px;
    }
}