@media all {
    #wrapper-main-header {
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: #eeeeee;
        border-top: none;
        border-bottom: solid;
        border-left: none;
        border-right: none;
        border-color: #878787;
        border-width: 2px;
    }

    #wrapper-main-header div {
        cursor: pointer;
    }

    #wrapper-main-header .row {
        height: 100%;
    }

    #wrapper-main-header .row div {
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #wrapper-main-header .row div:not(:last-child) {
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: solid;
        border-color: #cecece;
        border-width: 1px;
    }
}

