@media all {
    .leaflet-popup-content {
        margin: 0 2px 8px 2px;
    }

    .leaflet-popup-content-wrapper {
        border-radius: 2px;
    }

    .marker-control-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .marker-control-item {
        width: 30px;
        height: 30px;
        margin: 2px;
        padding: 2px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.75);
    }

    .marker-control-item i {
        pointer-events: none;
        padding: 0 0 0 1px;
    }
    .marker-control-item i.fa-users {
        font-size: 165%;
        margin-top: 3px;
    }

    .marker-control-item:hover {
        box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
        background-color: rgba(0, 0, 0, 0.05);
    }

    

    .leaflet-label {
        color: rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
    }

    .leaflet-label:hover, .leaflet-label.active {
        color: rgba(0, 0, 0, 0.75);
        background-color: rgba(255, 255, 255, 0.75);
    }

    .marker-control-text {
        white-space: nowrap;
        min-width: 52px;
        margin: 2px;
        padding: 2px 4px 0 4px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.75);
    }
    .marker-control-text i {
        pointer-events: none;
        padding: 0 0 0 1px;
    }
    .marker-control-text i.fa-heartbeat {
        font-size: 175%;
        margin-top: 2px;
    }
    .marker-control-text:hover {
        box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
        background-color: rgba(0, 0, 0, 0.05);
    }

    .text-marker-control {
        font-size: large;
        font-weight: 700;
    }
}
