@media all {
    .wrapper-login-content {
        padding: 4px;
        height: 100%;
    }

    .wrapper-login-content .info-header {
        text-align: left;
        font-size: medium;
        font-weight: 700;
    }

    .wrapper-login-content .info-group {
        text-align: left;
        padding: 8px 0;
    }

    .wrapper-login-content .info-button-group {
        padding: 2px 0;
    }

    .wrapper-signup-content {
        padding: 4px;
        height: 100%;
    }

    .wrapper-signup-content input {
        min-width: 320px;
    }

    .wrapper-signup-content .info-header {
        text-align: left;
        font-size: medium;
        font-weight: 700;
    }

    .wrapper-signup-content .info-group {
        text-align: left;
        padding: 8px 0;
    }

    .wrapper-signup-content .info-button-group {
        padding: 2px 0;
    }

}