@media all {
    #wrapper-message {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        margin: 88px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: 9999;
    }

    #wrapper-message .outer-frame {
        background-color: #d4d0cf;
        padding: 6px;
    }

    #wrapper-message .inner-frame {
        border: 3px solid rgba(255, 255, 255, 0.75);
        padding: 6px 12px;
        color: #262121;
        font-size: medium;
        pointer-events: all;
    }

    #wrapper-message .undo {
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
    }
}