@media all {
    #wrapper-mpeople {
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        border-top: 4px solid #5e4e51;
        overflow: hidden;
    }

    #wrapper-mpeople-table {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #content-mpeople-table {
        padding: 8px 8px 8px 0;
        margin: 4px 0 0 0;
    }
}