@media all {
    #wrapper-mtree {
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        border-top: 4px solid #5e4e51;
        overflow: hidden;
    }

    #wrapper-graph {
        width: 100%;
        height: 60%;
        background-color: #d4d0cf;
        overflow: hidden;
    }

    
    

    #wrapper-tree-detail .content-tree-control {
        flex-grow: 1;
        height: 100%;
        padding: 24px 8px 8px 8px;
        overflow-y: auto;
        max-width: 320px;
    }



    #wrapper-treeinfo .hr {
        background-color: rgba(132, 167, 87, 0.85);
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        height: 1px;
        margin: 0;
        padding: 0 8px;

    }
    #wrapper-treeinfo hr {
        margin: 0;
        padding: 0;
    }

    .content-tree-info .tree-info-name {
        font-size: xx-large;
        font-weight: 700;
        padding: 2px 0;
        margin: 0;
    }
    

    .content-tree-info .tree-info-coordinate {
        font-size: small;
        padding: 0;
        font-weight: 400;
        margin: 0;
        display: -webkit-flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        vertical-align: bottom;
    }

    .content-tree-info .tree-info-coordinate div {
        padding: 2px 2px;
    }

    .content-tree-info .tree-info-address {
        font-size: small;
        padding: 4px;
        margin: 0;
        text-align: left;
    }

    #wrapper-treeinfo .info-header {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-weight: 700;
        font-size: small;
        text-align: left;
        padding: 4px 16px 0 16px;
    }
    .content-tree-info .info-group {
        font-weight: 400;
        font-size: small;
        text-align: left;
        padding: 4px 4px;
    }

    .info-group-flex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content-tree-info .button-group-tag {
        padding: 4px 0 0 0;
    }

    .content-tree-info .btn {
        padding: 2px 8px;
    }

    .content-tree-recentactivities .item-activity i {
        padding: 2px 2px 0 0;
    }

    .content-tree-recentactivities .item-activity {
        padding: 2px;
        font-weight: 400;
        display: flex;
        font-size: small;
        justify-content: flex-start;
    }

    .content-tree-recentactivities .item-activity div{
        text-align: left;
    }

    .content-tree-recentactivities #list-activities {
        padding: 8px 0 0 0;
    }

    .content-tree-recentcomments .item-activity div{
        text-align: left;
        width: 100%;
    }

    .content-tree-recentcomments #list-activities {
        padding: 8px 0 0 0;
    }

    

    
    

    .wrapper-note-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4px;
        height: 100%;
    }

    .wrapper-note-content .image-wrapper {
        flex-grow: 4;
        height: 100%;
        overflow-y: auto;
    }

    .wrapper-note-content .wrapper-note-info {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 40px 0 0 0;
        min-width: 320px;
        max-width: 320px;
    }

    .wrapper-note-info .name {
        font-size: xx-large;
        font-weight: 700;
        text-align: left;
        padding: 0 16px;
    }

    .wrapper-note-info .info-header {
        font-weight: 700;
        font-size: large;
        text-align: left;
        padding: 4px 16px 0 16px;
    }
    .wrapper-note-info .info-group {
        font-weight: 400;
        font-size: large;
        text-align: left;
        padding: 4px 24px;
    }

    .wrapper-note-info .hr {
        height: 1px;
        margin: 0;
        padding: 0 8px;

    }
    .wrapper-note-info hr {
        margin: 0;
        padding: 0;
    }

    .wrapper-note-info .info-button {
        margin: 12px;
        flex-grow: 1;
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .wrapper-note-info .info-button:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(94, 78, 81, 0.5);
    }
    .wrapper-note-info .info-button i {
        pointer-events: none;
    }

    .wrapper-note-info .info-button-group {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 12px;
    }
    .wrapper-note-info .button-inner-frame2 {
        font-size: large;
        text-align: center;
        font-weight: 400;
    }

    .wrapper-note-info input.input-comment, .wrapper-note-info textarea.input-comment {
        font-size: large;
    }

    .wrapper-note-info .input-rating {
        font-size: xx-large;
        font-weight: 700;
        text-align: center;
    }

    .wrapper-note-info .input-rating-slider {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .wrapper-note-info .input-rating-slider li {
        list-style-type: none;
    }

    .wrapper-note-info .input-date {
        font-size: large;
    }

    #wrapper-note .name {
        font-size: xx-large;
        font-weight: 700;
        text-align: center;
        padding: 0 16px;
    }

    .wrapper-post-note-content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4px 4px 48px 4px;
        height: 100%;
        text-align: left;
    }



    .wrapper-post-note-content .image-wrapper {
        flex-grow: 2;
        height: 100%;
    }
    .wrapper-post-note-content .wrapper-note-info {
        flex-grow: 1;
        height: 100%;
        min-width: 320px;
        max-width: 320px;
        padding: 40px 0 0 0;
    }

    .image-wrapper .info-header {
        font-weight: 700;
        font-size: large;
        text-align: left;
        padding: 4px 16px 0 16px;
    }
    .image-wrapper .info-group {
        font-weight: 400;
        font-size: large;
        text-align: left;
        padding: 4px 24px;
    }

    .image-wrapper .hr {
        height: 1px;
        margin: 0;
        padding: 0 8px;

    }
    .image-wrapper hr {
        margin: 0;
        padding: 0;
    }

    .image-group {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .image-group img {
        width: 98%;
        margin: 4px;
        border: 8px solid #ffffff;
        cursor: pointer;
    }

    .image-group img.selected {
        border: 8px solid rgba(132, 167, 87, 1);
    }

    
}