@media all {
    #wrapper-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #background-nav-left {
        position: absolute;
        top: 0;
        width: 120%;
        height: 100%;
        background-color: #5e4e51;
        -moz-transform: skew(-10deg, 0);
        -ms-transform: skew(-10deg, 0);
        -o-transform: skew(-10deg, 0);
        -webkit-transform: skew(-10deg, 0);
        transform: skew(-10deg, 0);
        left: -69%;
    }
    #background-nav-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #83a656;
    }

    #list-nav {
        position: absolute;
        width: 100%;
        height: 60px;
        z-index: 5000;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    #list-nav::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    #list-nav .item-nav {
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 700;
        padding: 20px 20px;
        flex-grow: 1;
    }

    #list-nav .item-manage-title {
        color: #ebece6;
        cursor: pointer;
    }

    #list-nav .item-manage-title:after {
        content: url(../image/logo-white-32x32.png);
    }

    #list-nav .item-manage-title:hover:after {
        content: url(../image/logo-green-32x32.png);
    }

    #list-nav .item-manage-title:hover {
        color: #83a656;
    }

    #list-nav .item-manage-title:active {
        color: #83a656;
        text-shadow: -1px -1px 1px #28331b;
    }

    #list-nav .item-manage {
        font-size: large;
        cursor: pointer;
        background-color: #5e4e51;
    }

    #list-nav .item-manage:hover {
        color: rgba(131, 166, 86, 0.75);
        /*
        -webkit-text-fill-color: #83a656;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: #83a656;
        */
    }

    #list-nav .item-manage:active {
        text-shadow: -1px -1px 1px #28331b;
    }

    #list-nav .item-manage.active {
        color: #83a656;
        text-shadow: -1px -1px 1px #28331b;
    }

    #list-nav .item-manage-parent {
        font-size: large;
        color: #5e4e51;
        cursor: pointer;
        background-color: #83a656;
        transform: skew(-10deg, 0);
        height: 60px;
    }

    #list-nav .item-manage-parent div {
        cursor: pointer;
        background-color: #83a656;
        transform: skew(10deg, 0);
    }

    #list-nav .item-manage-parent:hover {
        color: rgba(255,255,255,0.75);
    }
    #list-nav .item-manage-parent:active {
        text-shadow: -1px -1px 1px #403537;
    }
}