@media all {
    .wrapper-change-password-content {
        padding: 4px;
        height: 100%;
    }

    .wrapper-change-password-content .info-header {
        text-align: left;
        font-size: medium;
        font-weight: 700;
    }

    .wrapper-change-password-content .info-group {
        text-align: left;
        padding: 8px 0;
    }

    .wrapper-change-password-content .info-button-group {
        padding: 2px 0;
    }

}