@media print {
    body * {
        visibility: hidden;
    }
    html, body {
        width: auto;
        height: auto;
        overflow: visible;
    }
    /*
    #wrapper-nav, #wrapper-nav * {
        visibility: visible;
    }
    */

    #wrapper-main {
        position: relative;
        width: auto;
        height: auto;
        overflow: visible;
        padding: 0;
        margin: 0;
    }
    #wrapper-mtrees {
        position: relative;
        width: auto;
        height: auto;
        overflow: visible;
        padding: 0;
        margin: 0;
    }
    #wrapper-mtrees-table {
        position: relative;
        width: auto;
        height: auto;
        overflow: visible;
        padding: 0;
        margin: 0;
    }
    #wrapper-tablemenu {
        display: none;
    }
    #content-mtrees-table, #content-mtrees-table * {
        visibility: visible;
    }
    #content-mtrees-table {
        width: auto;
        height: auto;
        overflow: visible;
        padding: 0;
        margin: 0;
    }

    .marker-control-item, .cell-button {
        display: none;
    }
    /*
    .backgrid th, .backgrid td {
        padding: 0;
    }
    */

    #content-map, #content-map * {
        visibility: visible;
    }
    #content-map {
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border: none;
    }
}