@media all {
    .list {
        padding: 20px;
        font-size: small;
    }
    .list h1 {
        font-size: x-large;
        font-weight: 700;
        margin-top: 0;
    }

    .btn-table {
        width: 100%;
        height: 24px;
        padding-top: 2px;
    }

    .backgrid .select-cell {
        text-align: left;
    }

    .list-location .backgrid .food {
        width: 15%;
    }
    .list-location .backgrid .lat {
        width: 10%;
    }
    .list-location .backgrid .lng {
        width: 10%;
    }
    .list-location .backgrid .address {
        width: 35%;
    }
    .list-location .backgrid .updated {
        width: 15%;
    }

    .list-people .backgrid .auth {
        width: 15%;
    }
    .list-people .backgrid .name {
        width: 15%;
    }
    .list-people .backgrid .address {
        width: 15%;
    }
    .list-people .backgrid .contact {
        width: 15%;
    }
    .list-people .backgrid .neighborhood {
        width: 10%;
    }
    .list-people .backgrid .updated {
        width: 15%;
    }
    
}