@media all {
    #wrapper-trees {
        padding: 48px 0 0 0;
        width: 100%;
        height: 100%;
        background-color: #eeeeee;
        overflow: hidden;
    }

    #content-map {
        width: 100%;
        height: 100%;
        border-top: 4px solid #5e4e51;
        overflow: hidden;
    }

    #wrapper-mapmenu {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        pointer-events: none;
        padding: 12px 16px 20px 16px;
        overflow-y: hidden;
        
    }

    #wrapper-trees .toggle, #wrapper-trees .toggle-handle {
        border-radius: 1px;
    }
    #wrapper-trees .btn-primary {
        border: 1px solid #5e4e51;
        background-color: #5e4e51;
    }
    #wrapper-trees .toggle-off:active, #wrapper-trees .toggle-off.active {
        box-shadow: none;
    }


    #wrapper-trees .bottom-filters {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
    }

    #wrapper-trees .bottom-filters .search-box {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    #wrapper-trees .bottom-filters .form-control-feedback {
        width: 24px;
        color: #5e4e51;
        font-size: small;
        pointer-events: all;
        cursor: pointer;
    }

    #wrapper-trees #input-search-food {
        color: #5e4e51;
        pointer-events: all;
        width: 100%;
        border-radius: 1px;
        font-weight: 700;
    }
    #wrapper-trees .toggle {
        font-size: small;
        margin-right: 8px;
    }

    #wrapper-list-food {
        max-height: 150px;
        overflow-y: auto;
    }
    #wrapper-list-food .text-food {
        font-size: medium;
        font-weight: 700;
        color: #5e4e51;
        text-align: left;
        padding: 4px 8px;
        background-color: rgba(255, 255, 255, 1);
        pointer-events: all;
        cursor: pointer;
        border-radius: 1px;
    }

    #wrapper-treeinfo {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 60px 8px 8px 8px;
        overflow-y: auto;
        color: #ffffff;
    }
    #wrapper-treeinfo div {
        pointer-events: all;
    }
    #wrapper-treeinfo .info-header {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-weight: 700;
        font-size: small;
        text-align: left;
        padding: 4px 16px 0 16px;
    }
    #wrapper-treeinfo .info-group {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-weight: 400;
        font-size: small;
        text-align: left;
        padding: 4px 24px;
        min-height: 26px;
    }
    #wrapper-treeinfo #content-header {
        display: -webkit-flex;
        display: flex;
        border-color: rgba(255, 255, 255, 0.75);
        border-top: 2px solid;
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        padding: 4px 16px;
    }
    #wrapper-treeinfo #content-header .btn-close {
        padding-top: 2px;
        cursor: pointer;
        font-size: x-large;
    }
    #wrapper-treeinfo .tree-info-name {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        display: -webkit-flex;
        display: flex;
        font-size: x-large;
        font-weight: 700;
        padding: 4px 0 2px 20px;
        margin: 0;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

    #wrapper-treeinfo .info-button {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: center;
        align-items: center;
    }
    #wrapper-treeinfo .info-button div {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    #wrapper-treeinfo .input-address, #wrapper-treeinfo .input-description {
        max-height: 36px;
        overflow-y: auto;
    }
    #wrapper-treeinfo #list-comments {
        height: 30%;
        overflow-y: auto;
    }
    #wrapper-treeinfo .hr {
        background-color: rgba(132, 167, 87, 0.85);
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        height: 1px;
        margin: 0;
        padding: 0 8px;

    }
    #wrapper-treeinfo hr {
        margin: 0;
        padding: 0;
    }
    #wrapper-treeinfo .tree-info-coordinate {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-size: small;
        padding: 4px 4px 0 4px;
        margin: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
    #wrapper-treeinfo .tree-info-address {
        border-color: rgba(255, 255, 255, 0.75);
        border-left: 2px solid;
        border-right: 2px solid;
        background-color: rgba(132, 167, 87, 0.85);
        font-size: small;
        padding: 4px;
        margin: 0;
    }
    #wrapper-treeinfo .input-description {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    #wrapper-treeinfo label:hover input[type="checkbox"] ~ i.fa {
        color: #5e4e51;
    }
    #wrapper-treeinfo label:hover {
        color: #5e4e51;
    }
    #wrapper-treeinfo label.active:hover {
        color: #5e4e51;
    }
    #wrapper-treeinfo .btn {
        padding: 4px 8px;
        margin: 4px;
    }
    #wrapper-treeinfo .btn.active {
        background-color: rgba(0, 0, 0, 0.05);
    }

    #wrapper-trees #wrapper-mapfilter {
        position: absolute;
        top: 0;
        left: -260px;
        width: 308px;
        height: 100%;
        padding: 60px 0 64px 0;
        pointer-events: none;
        display: -webkit-flex;
        display: flex;
        opacity: 0.925;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    #wrapper-mapfilter #content-mapfilter {
        width: 260px;
        height: 100%;
        background-color: rgba(94, 78, 81, 0.95);
        pointer-events: all;
        border-color: rgba(255, 255, 255, 1);
        border-top: 2px solid rgba(255, 255, 255, 1);
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        padding: 4px 4px 10px 8px;
        overflow: hidden;
    }
    #wrapper-mapfilter #content-mapfilter .frame-inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #content-filter-list {
        overflow-y: auto;
        height: 100%;
        padding: 0 0 48px 0;
    }
    #wrapper-btn-mapfilter {
        height: 100%;
        overflow: hidden;
    }
    #content-mapfilter .info-button-group {
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #content-mapfilter .info-button-group div {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
    #content-mapfilter .text-header {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        font-weight: 700;
        font-size: x-large;
        color: rgba(255, 255, 255, 1);
        padding: 2px 0 4px 0;
    }
    #content-mapfilter .icon-header {
        position: relative;
        top: -6px;
        left: 4px;
        font-size: medium;
        cursor: pointer;
    }
    #content-mapfilter hr {
        border-top: 1px solid rgba(255, 255, 255, 0.75);
        margin: 4px 0;
    }
    #content-mapfilter .text-label {
        font-size: medium;
        color: rgba(255, 255, 255, 0.9);
        text-align: left;
        padding: 2px 4px;
    }
    #wrapper-mapfilter .btn-mapfilter {
        width: 48px;
        height: 48px;
        padding-top: 2px;
        background-color: rgba(94, 78, 81, 0.95);
        pointer-events: all;
        border-color: rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
        border-top: 2px solid rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    #wrapper-mapfilter .btn-location {
        width: 48px;
        height: 48px;
        padding-top: 2px;
        background-color: rgba(94, 78, 81, 0.95);
        pointer-events: all;
        border-color: rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    #wrapper-mapfilter .btn-location .icon-location {
        padding-top: 4px;
        font-size: x-large;
        color: rgba(255, 255, 255, 1);
    }
    #wrapper-mapfilter .btn-location .icon-location:hover {
        color: #84a756;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    }
    #wrapper-mapfilter .btn-tree-table {
        width: 48px;
        height: 48px;
        padding-top: 2px;
        background-color: rgba(94, 78, 81, 0.95);
        pointer-events: all;
        border-color: rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    #wrapper-mapfilter .btn-tree-table .icon-tree-table {
        padding-top: 8px;
        font-size: large;
        color: rgba(255, 255, 255, 1);
    }
    #wrapper-mapfilter .btn-tree-table .icon-tree-table:hover {
        color: #84a756;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    }
    #wrapper-mapfilter .btn-add-tree {
        width: 48px;
        height: 48px;
        padding-top: 2px;
        background-color: rgba(94, 78, 81, 0.95);
        pointer-events: all;
        border-color: rgba(255, 255, 255, 1);
        border-right: 2px solid rgba(255, 255, 255, 1);
        cursor: pointer;
    }
    #wrapper-mapfilter .btn-add-tree .icon-add-tree {
        padding-top: 8px;
        font-size: x-large;
        color: rgba(255, 255, 255, 1);
    }
    #wrapper-mapfilter .btn-add-tree .icon-add-tree:hover {
        color: #84a756;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    }
    #wrapper-mapfilter .btn-mapfilter .icon-mapfilter-status {
        font-size: large;
        color: rgba(255, 255, 255, 1);
    }
    #wrapper-mapfilter .btn-mapfilter .text-mapfilter-status {
        line-height: 12px;
        font-size: small;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
    }
    #wrapper-mapfilter .btn-mapfilter .icon-mapfilter-status.active {
        color: #84a756;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    }
    #wrapper-mapfilter .btn-mapfilter .text-mapfilter-status.active {
        color: #84a756;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
    }
    #wrapper-mapfilter .deco-mapfilter {
        width: 40px;
        height: 100%;
        border-left: 2px solid rgba(255, 255, 255, 1);
    }

    #wrapper-treeinfo .item-activity {
        padding: 4px 2px;
        font-weight: 400;
        display: -webkit-flex;
        display: flex;
    }
    #wrapper-treeinfo .item-activity i {
        padding: 2px 2px 0 0;
    }
    #wrapper-treeinfo .treeinfocomment {
        font-weight: 500;
        line-height: 150%;
    }

    
}





@media only screen and (orientation: portrait) {
    #wrapper-mapmenu {
        width: 100%;
    }
    #wrapper-treeinfo {
        max-height: 75%;
    }
}
@media only screen and (max-height: 480px) and (orientation: portrait) {
    #wrapper-treeinfo #list-comments {
        height: 16%;
    }
    #wrapper-treeinfo .content-status {
        display: none;
    }
}
@media only screen and (min-height: 481px) and (max-height: 568px) and (orientation: portrait) {
    #wrapper-treeinfo #list-comments {
        height: 16%;
    }
}
@media only screen and (min-height: 569px) and (max-height: 627px) and (orientation: portrait) {
    #wrapper-treeinfo #list-comments {
        height: 24%;
    }
}
@media only screen and (min-height: 628px) and (max-height: 736px) and (orientation: portrait) {
    #wrapper-treeinfo #list-comments {
        height: 30%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    #wrapper-treeinfo {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    #wrapper-treeinfo {
        max-width: 420px;
    }
}

@media only screen and (orientation: landscape) {
    #wrapper-mapmenu {
        max-width: 480px;
    }
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
    #wrapper-mapmenu {
        max-width: 172px;
    }
    #wrapper-treeinfo {
        max-width: 320px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 568px) and (orientation: landscape) {
    #wrapper-mapmenu {
        max-width: 260px;
    }
    #wrapper-treeinfo {
        max-width: 320px;
    }
}
    
@media only screen and (min-width: 569px) and (max-width: 667px) and (orientation: landscape) {
    #wrapper-mapmenu {
        max-width: 320px;
    }
    #wrapper-treeinfo {
        max-width: 360px;
    }
}

@media only screen and (min-width: 668px) and (max-width: 736px) and (orientation: landscape) {
    #wrapper-mapmenu {
        max-width: 320px;
    }
    #wrapper-treeinfo {
        max-width: 420px;
    }
}

@media only screen and (min-width: 737px) and (max-width: 1280px) and (orientation: landscape) {
    #wrapper-treeinfo {
        max-width: 480px;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1920px) and (orientation: landscape) {
    #wrapper-treeinfo {
        max-width: 480px;
    }
}